* {
    margin: 0;
    padding: 0;
}

.titolo {
    text-align:center;
    background-color: #71717a;
}


#immagini {
    text-align:center;
}

body{
    font-family: sans-serif;
}

#frase-autore{
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3em;

}

#giorni {
    text-align:center;
    font-size: 5em;
}

